# LIST

In [1]:
lst = ["Actor","profile",1234567]
lst.append(345)//adds at last
lst

['Actor', 'profile', 1234567, 345]

In [2]:
lst.insert(1,123)//adds in given position
lst

['Actor', 123, 'profile', 1234567, 345]

In [3]:
lst1 = ["Director","producer",789]
lst.extend(lst1)//adds other list in itself
lst

['Actor', 123, 'profile', 1234567, 345, 'Director', 'producer', 789]

In [4]:
lst2=[3,5,7,9,11]
print(sum(lst2))

35

In [7]:
lst.count(3)//counts the occurence of element

0

In [8]:
len(lst)//gives the length of list

8

In [10]:
lst.index(123)

1

In [16]:
lst.index("Director",2,7)//element,startindex,endindex

5

In [19]:
min(lst2)//only works for numerical lists

3

In [22]:
lst.reverse()
lst

[789, 'producer', 'Director', 345, 1234567, 'profile', 123, 'Actor']

lst4 = [9,3,6,0,1]
lst4

In [24]:
lst4 = [9,3,6,0,1] 
lst4.sort()//sorts in ascending
lst4

[0, 1, 3, 6, 9]

In [27]:
lst4.sort(reverse=True)//ifits in ascending make it reverse
lst4

[9, 6, 3, 1, 0]

In [28]:
lst.pop(3)//deletes the element based on its index
lst

[789, 'producer', 'Director', 1234567, 'profile', 123, 'Actor']

In [29]:
del lst[4]//same as pop but there is slight diff
lst

[789, 'producer', 'Director', 1234567, 123, 'Actor']

In [30]:
lst.remove("Director")//removes the element
lst

[789, 'producer', 1234567, 123, 'Actor']

# DICT

In [35]:
dit = {1:2,3:4,5:6}
dit

{1: 2, 3: 4, 5: 6}

In [36]:
dit.get(3)//getting the value of key

4

In [38]:
dit[3]//other method to get

4

In [40]:
dit[3] = 9//updating the value of key
dit

{1: 2, 3: 9, 5: 6}

In [41]:
dit[7] = 14//adding new key
dit

{1: 2, 3: 9, 5: 6, 7: 14}

In [42]:
del dit[3]//for delting one key-value pair
dit

{1: 2, 5: 6, 7: 14}

In [43]:
len(dit)

3

In [46]:
dit2 = {7: 2, 5: 6, 1: 14}
sorted(dit2)//sorts the dict according to key

[1, 5, 7]

In [47]:
dit2 = {7: 2, 5: 6, 1: 14}
sorted(dit2)

[1, 5, 7]

In [48]:
dit.keys()//return the keys

dict_keys([1, 5, 7])

In [49]:
dit.values()//return te values

dict_values([2, 6, 14])

In [50]:
dit.items()

dict_items([(1, 2), (5, 6), (7, 14)])

In [51]:
dit.get(5,0)//key,value return the value if key is found

6

In [53]:
dit.pop(5)//pops the particular key

6

In [54]:
dit

{1: 2, 7: 14}

In [55]:
dit.pop(5)// it has no return none value like in case of get

KeyError: 5

In [56]:
dit.pop(5,-1)

-1

In [57]:
newdict.fromkeys({1,2,3,4,5},0)

NameError: name 'newdict' is not defined

In [58]:
dit.fromkeys({1,2,3},0)//creates new dict from an existing one

{1: 0, 2: 0, 3: 0}

In [59]:
dit

{1: 2, 7: 14}

In [61]:
dit3 = {6:7,9:0}
dit.update(dit3)//it updates the previous dict with another dict
dit

{1: 2, 7: 14, 6: 7, 9: 0}

# SETS

In [1]:
myset = {1,3,5}
myset

{1, 3, 5}

In [4]:
myset.add(4)//adds one
myset

{1, 3, 4, 5, 7}

In [5]:
myset.update([8,9])//adding multiple elements
myset

{1, 3, 4, 5, 7, 8, 9}

In [6]:
myset.discard(3)//discars tge element
myset

{1, 4, 5, 7, 8, 9}

In [7]:
myset = set("heloo")
myset

{'e', 'h', 'l', 'o'}

In [10]:
myset.pop()//pops the last ele
myset

{'e', 'l'}

In [11]:
myset

{'e', 'l'}

In [12]:
mysetA = {1,2,3,4}
mysetB = {2,3,9}

mysetA.difference(mysetB)//gives the difference of set

{1, 4}

In [13]:
A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

result = A.difference_update(B)//it wll be none

print('A = ', A)
print('B = ', B)
print('result = ', result)

A =  {'d', 'a'}
B =  {'g', 'f', 'c'}
result =  None

In [15]:
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))//gives the intersection b/w 2 sets
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

{2, 5}
{2}
{2, 3}
{2}

In [16]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}

result = A.intersection_update(B)//gives none

print('result =', result)
print('A =', A)
print('B =', B)

result = None
A = {2, 3, 4}
B = {2, 3, 4, 5}

In [17]:
A = {1, 2, 3, 4}
B = {5, 6, 7}
C = {4, 5, 6}

print('Are A and B disjoint?', A.isdisjoint(B))//return true or false based on common elementds
print('Are A and C disjoint?', A.isdisjoint(C))

Are A and B disjoint? True
Are A and C disjoint? False

In [18]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}

# Returns True
print(A.issubset(B))

# Returns False
# B is not subset of A
print(B.issubset(A))

# Returns False
print(A.issubset(C))

# Returns True
print(C.issubset(B))

True
False
False
True

In [19]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 3}

# Returns True
print(A.issuperset(B))

# Returns False
print(B.issuperset(A))

# Returns True
print(C.issuperset(B))

True
False
True

In [20]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'a', 'e', 'b'}
{'e', 'a', 'b'}
{'d', 'a', 'b', 'c'}
{'d', 'e', 'c'}

In [21]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))
print('A.union() =', A.union())

A U B = {2, 'd', 'a', 'c'}
B U C = {1, 2, 'd', 3, 'c'}
A U B U C = {1, 2, 'd', 3, 'a', 'c'}
A.union() = {'c', 'd', 'a'}

# TUPLE

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup1

('physics', 'chemistry', 1997, 2000)

In [3]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)//gives the count of an element

print(x)

2

In [4]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)//returns the index of an element

print(x)

3

In [5]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print ("First tuple length : ", len(tuple1))//gives the length of tuple
print ("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

In [6]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("Max value element : ", max(tuple1))//gives the max of tuple
print ("Max value element : ", max(tuple2))

Max value element :  phy
Max value element :  700

In [7]:
tuple1, tuple2 = ('maths', 'che', 'phy', 'bio'), (456, 700, 200)
print ("min value element : ", min(tuple1))//gives the min of tuple
print ("min value element : ", min(tuple2))

min value element :  bio
min value element :  200

In [9]:
list1 = ['maths', 'che', 'phy', 'bio']
tuple10 = tuple(list1)//converts the list into tuple
print ("tuple elements : ", tuple10)

tuple elements :  ('maths', 'che', 'phy', 'bio')

# STRINGS

In [13]:
txt = "hello, and welcome to my world."

x = txt.capitalize()//return the first char as capital

print (x)

Hello, and welcome to my world.

In [14]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()//converts whole string as lowercase

print(x)

hello, and welcome to my world!

In [16]:
txt1 = "banana"

x = txt1.center(20)

print(x)

       banana

In [17]:
txt = "banana"

x = txt.center(20, "O")//puts the padding 0 and whole 20 characters

print(x)

OOOOOOObananaOOOOOOO

In [18]:
txt = "My name is Sruthi"

x = txt.encode()

print(x)

b'My name is Sruthi'

In [19]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")//checks if the end char is same or not

print(x)

True

In [20]:
txt = "Hello, welcome to my world."

x = txt.find("w")//returns the position

print(x)

7

In [21]:
txt = "Company12"

x = txt.isalnum()//returns true if all the char are alphanumeric

print(x)

True

In [22]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)//joins with specific char

print(x)

John#Peter#Vicky

In [23]:
txt = "welcome to the jungle"

x = txt.split()//splits each word

print(x)

['welcome', 'to', 'the', 'jungle']

In [24]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [25]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()//reverses the case of char

print(x)

hELLO mY nAME iS peter

In [26]:
txt = "50"

x = txt.zfill(10)//fills with 0 at the beginning

print(x)

0000000050